<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="visuals\stylea.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">

	<title>Google Advanced</title>
</head>
<body>
    
	<form action="https://www.google.com/search">
	<div class="top-bar">
        <img src="google.png">
		<h1>Advanced Search</h1>
		<div class="menu">
          <div id="header">
        <ul>
          <li id="user">Hello! Atakan</li>
          <li><a href="images.html">Google Images</a></li>
          <li><a href="advanced.html">Google Advanced</a></li>
          <li id="apps"></li> <!-- Apps -->
          <li id="notifications"></li> <!-- Notifications -->
          <li id="user-menu"><div id="user-initial">A</div></li>   <!-- User dropdown menu -->
        </ul>
      </div>
    	</div>
	</div>
	
	<div class="main_div">
		
			<div class="column column1">

				<span class="first">
					Find pages with...
				</span>

				<div class="row">
					<label for="first">All of these words:</label>
					<input type="text" id="first" name="as_q" />
				</div>
				<div class="row">
					<label for="second"> Exact word or phrase:</label>
					<input type="text" id="second" name="as_epq" />
				</div>
				<div class="row">
					<label for="third">Any of these words:</label>
					<input type="text" id="third" name="as_oq" />
				</div>
				<div class="row">
					<label for="fourth">None of these words:</label>
					<input type="text" id="fourth" name="as_eq" />
				</div>
                
				<button type="submit" style="align-self: right;">Advanced Search</button>
			</div>


			<div class="column column2">
				<span class="first">
					To do this in the search box:
				</span>


				<div class="row">
					<p>Type the important words: tri-colour rat terrier</p>
				</div>

				<div class="row">
					<p>Put exact words in quotes: "rat terrier"</p>
				</div>

				<div class="row">
					<p>Type OR between all the words you want: miniature OR standard</p>
				</div>

				<div class="row">
					<p>Put a minus sign just before words that you don't want: -rodent, -"Jack Russell"</p>
				</div>
			</div>

			
	
		</div>
		
	</form>
</body>
</html>
          
  