<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google</title>
    <link rel="stylesheet" type="text/css" href="visuals\style.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <ul>
          <li id="user">Hello! Atakan</li>
          <li><a href="images.html">Google Images</a></li>
          <li><a href="advanced.html">Google Advanced</a></li>
          <li id="apps"></li> <!-- Apps -->
          <li id="notifications"></li> <!-- Notifications -->
          <li id="user-menu"><div id="user-initial">A</div></li>   <!-- User dropdown menu -->
        </ul>
      </div>
      <div id="content">
        <center>
          <div id="logo">
            <span id="country">Turkey</span>
          </div>
        </center>

        <form action="https://www.google.com/search" method="GET" id="search-form">
          <center>
            <input type="text" name="q" id="search-box" placeholder="Search...">
            <div id="button-container">
              <input type="submit" value="Google Search">
              <input type="submit" name="btnI" value="I'm Feeling Lucky"><a href="http://www.google.com/webhp?#q=yourquery&btnI=I"></a>
            </div>
          </center>
        </form>
      </div>
      <div id="footer">
        <div id="footer-left">
          <ul>
            <li><a href="https://myadcenter.google.com/?sasb=true">Advertising</a></li>
            <li><a href="https://www.google.com/business/">Business</a></li>
            <li><a href="https://about.google/">About</a></li>
          </ul>
        </div>
        <div id="footer-right">
          <ul>
            <li><a href="https://policies.google.com/privacy?hl=en-US">Privacy</a></li>
            <li><a href="https://policies.google.com/terms?hl=en-US">Terms</a></li>
            <li><a href="https://support.google.com/accounts/answer/3118621?hl=en">Settings</a></li>
            <li><a href="https://www.google.com/">Use Google.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
